# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# IDE/editor folders
.vscode/
.idea/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
